<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="jumbotron" style="padding:45px 0px">
        Edit Your Checklist
      </div>



      <div style="margin:5px 0px">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of listarray">
              <input type="text" value="{{item}}" #title/>

              <!-- button to delete item -->
            <span class="hover-cursor text-danger pull-right" (click)="onDelete(item)">
              <i class="fa fa-trash-o fa-lg"></i>
            </span>

            <!-- button to update an item -->
            <span class="hover-cursor text-danger pull-right">
              <button (click)="update(item, title.value)">Update</button>
            </span>

          </li>
        </ul>
      </div>

      <!-- section to add an new item to existing list -->
      <div class="input-group">
        <input type="text" class="form-control" #item>
        <button (click)="makearray(item)">Add</button>
      </div>
    </div>
  </div>
</div>


