<!-- page for viewing created pull requests -->

<div style="margin:5px 0px">
  <ul class="list-group">
    <ul class="list-group-item" *ngFor="let item of listarray">
      <p><b> Pull Request Name:   {{item.pullRequest_name}}</b></p>
      <p><b> Project Name: {{item.project_name}}</b></p>
      <ul class="list-group-item" *ngFor="let i of item.pullRequest_CheckList | keyvalue">
        <li class="list-group-item" *ngFor="let j of i.value | keyvalue">
        {{j.value}}
        </li>
      </ul>
    </ul>
  </ul>
</div>
<div>



