
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="jumbotron" style="padding:45px 0px">
        <h4 class="text-center">Dashbord</h4>
      </div>

<div style="margin:5px 0px">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of listarray">

      <button (click)="nevigate(item.title)">{{item.title}}</button>
      <button (click)="edit(item.title)">Edit Task</button>

    </li>
  </ul>
</div>
<div>


<div>
  <button routerLink="/new-list">Create New List</button>
</div>
