<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="jumbotron" style="padding:45px 0px">
        <h4 class="text-center">Create New checklist</h4>
      </div>
      <div>
        <input type="text" #title placeholder="Add title for new checklist.."/>
      </div>
      <div class="input-group">
        <input type="text" class="form-control" #item>
        <button (click)="makearray(item)">Add</button>
      </div>

      <div style="margin:5px 0px">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of itemlist">
            {{item}}

            <!-- delete task button -->
          <span class="hover-cursor text-danger pull-right" (click)="onDelete(item)">
            <i class="fa fa-trash-o fa-lg"></i>
          </span>
          </li>
        </ul>
      </div>
      <div>
        <!-- add checklist button -->
          <button (click)="onAdd(title)">Create</button>
      </div>
    </div>
  </div>
</div>
