<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="jumbotron" style="padding:45px 0px">
        <h4 class="text-center">Create New Pull Request</h4>
      </div>
      <div>
        <input type="text" #pullname placeholder="Add Pull request name..."/><br>
      </div>

      <div>
        <input type="text" #projectname placeholder="Add project name..."/>
      </div>


      <div style="margin:5px 0px">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of listarray">
            <!-- <span class="hover-cursor" [class.text-success]="item.isChecked" (click)="alterCheck(item,item.isChecked)"> -->
              <!-- <i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i> -->
              <span>
              <input type="checkbox" (click)='alterCheck(item)' />
            </span>
            {{item}}
            <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.$key)">
              <i class="fa fa-trash-o fa-lg"></i>
            </span>
          </li>
        </ul>
      </div>
      <div>
        <button (click)="onAdd(pullname, projectname)">Submit</button>
      </div>
    </div>
  </div>
</div>

